spring:
  config:
    activate:
      on-profile: localstack
  datasource:
    url: ${DB_JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: true

cloud:
  aws:
    region:
      static: ap-northeast-2
    credentials:
      access-key: test
      secret-key: test
    s3:
      endpoint: http://localhost:4566
      path-style-access-enabled: true

app:
  s3:
    bucket: mid-perf-test